/* main-ad */
.main-ad{
  position: relative;
  width:100%;
  height:800px;
  background-image:url(../img/main/main_ad.png);
  background-size: cover;
  overflow: hidden;
}
.main-txt{
  width:1440px;
  margin:auto;
  margin-top:650px;
  color:#ffffff;

}
.main-txt h2{
  font-size:48px;
  font-weight:800;
  margin-left: 35px;
  margin-bottom: 8px;
}
.main-txt p{
  font-size:14px;
  font-weight:600;
  margin-left: 35px;
}


/* best-collection */
.best-collection{
  width:100%;
}
.best-header{
  width: 1440px;
  margin: auto;
  margin-top:50px;
  margin-bottom:20px;
}
.best-header h2{
  float: left;
  font-size:32px;
  font-weight:600;
  margin-left: 35px;
}
.view-all {
  float: right;
  margin-right: 35px;
}
.view-all a{
  font-size:14px;
  font-weight:700;
  color:#000000;
  margin-right:10px;
}
.view-dot:hover{
  border-bottom: 1px dotted;
}
.best-arrow{
  width:14px;
  height:14px;
  display: inline-block;
  vertical-align: middle;
}

.best-list{
  width:1440px;
  margin:auto;
}
.best-item{
  margin-left: 35px;
  margin-right: 35px;
}
.best-item li img{
  width:326px;
  height:407px;
}
.best-item li{
  width:326px;
  height:477px;
  margin-left:20px;
  float:left;
}
.best-item li:nth-child(1){
  margin-left:0;
}
.best-txt{
  font-size:14px;
  color:#000000;
}
.best-Series{
  color:#EF314C;
}
.best-price{
  font-weight:700;
}
.best-title{
  margin-top:3px;
  margin-bottom:15px;
}


/* sub-ad */
.sub-ad{
  width:100%;
  margin-left:35px;
  margin-top:110px;
}
.img-box{
  width:1440px;
  height:837px;
  margin:auto;
}
.sub-ad-img1{
  width:673px;
  height:837px;
  float: left;
}
.sub-ad-img2{
  width:673px;
  height:837px;
  background-color: #C61732;
  float: left;
  margin-left:26px;
}
.sub-txt{
  color:#ffffff;
  margin: 378px 0;
  text-align: center;
}
.sub-txt h2{
  font-size:48px;
  font-weight:600;
  margin-bottom:10px;
}
.sub-txt p{
  font-size:14px;
  font-weight:500;
}



.new{
  width:100%;
}
.new-container{
  width:1440px;
  margin:auto;
  margin-top:48px;
}
.new-content1, .new-content2, .new-content3{
  margin:0 35px;
}
.new-header h2{
  font-size:32px;
  font-weight:600;
  margin-bottom:20px;
}
.new-content1 li{
  float:left;
  margin-left:24px;
  margin-bottom:62px;
}
.new-content1 li:nth-child(1), .new-content2 li:nth-child(1){
  margin-left:0;
}
.new-content2 li{
  float:left;
  margin-left:10px;
}
.new-txt p{
  display:inline-block;
  font-size:14px;
  font-weight:700;
  margin-top:8px;
  margin-bottom:37px;
  color:#000000;
  border-bottom: 1px dotted transparent;
}
.new-txt:hover p{
  border-bottom: 1px dotted;
}

.collection{
  position: relative;
  width:100%;
  height:908px;
  background-image:url(../img/main/NewCollection.png);
  background-size: cover;
  overflow: hidden;
}
.care{
  position: relative;
  width:100%;
  height:908px;
  background-image:url(../img/main/care.png);
  background-size: cover;
  overflow: hidden;
}
.care-txt, .collection-txt{
  color:#ffffff;
  text-align: center;
  margin-top: 650px;
}
.care-txt h2, .collection-txt h2{
  font-size:48px;
  font-weight:800;
  margin-bottom:8px;
}
.care-txt p, .collection-txt p{
  font-size:14px;
  font-weight:600;
}
.btn{
  display: inline-block;
  padding: 7px 4px 5px 10px;
  background-color:#ffffff;
  color:#000000;
  font-weight:500;
  border-radius:5px;
  line-height: 1.5vw;
  margin-top:30px;
}
.btn:hover{
  background-color:#000000;
  color:#ffffff;
  transition-duration: 0.7s;
}
.arrow1{
  vertical-align: middle;
  margin-bottom: 3px;
  padding:10px;
}
.btn:hover .arrow1{
  content:url(../img/icon/arrow-right_ww.png);
}