/* main-slider */
.swiper {
  width: 100%;
  height: 100%;
}
.slide1{
  width:590px;
  height:800px;
  background-image:url(../img/sub1/main_slider1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.slide2{
  width:590px;
  height:800px;
  background-image:url(../img/sub1/main_slider2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.slide3{
  width:590px;
  height:800px;
  background-image:url(../img/sub1/main_slider3.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.slide4{
  width:590px;
  height:800px;
  background-image:url(../img/sub1/main_slider4.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-txt{
  color: #ffffff;
  margin-top: 600px;
  margin-left: 35px;
}
.slider-txt h2{
  font-size:27px;
  margin-bottom:20px;
  font-weight:800;
}
.slider-txt p{
  font-size:17px;
  font-weight:500;
}



/* sub-slider */
.sub-slider{
  width:100%;
}
.sub-content{
  width:1440px;
  margin:auto;
  margin-top: 260px;
  display:flex;
  justify-content: space-between;
}
.slider-indicator{
  display: flex;
  align-items: center;
}
.sub-name{
  font-size:27px;
  font-weight:500;
  margin-bottom:3px;
}
.sub-txt{
  margin-left:35px;
}
.sub-txt h2{
  font-family:'Cormorant Garamond';
  font-size:56px;
  font-weight:800;
  margin-bottom:20px;
}
.sub-tex{
  font-size:16px;
  font-weight:300;
}
.btn-w{
  display: inline-block;
  padding: 7px 4px 5px 10px;
  border:1px solid #000000;
  color:#000000;
  font-weight:500;
  border-radius:5px;
  line-height: 1.5vw;
  margin-top:90px;
}
.btn-w:hover{
  background-color:#000000;
  color:#ffffff;
  transition-duration: 0.7s;
}
.arrow1{
  vertical-align: middle;
  margin-bottom: 3px;
  padding:10px;
}
.btn-w:hover .arrow1{
  content:url(../img/icon/arrow-right_ww.png);
}
.slider-indicator{
  margin-top:90px;
}
.slider-indicator span{
  font-size:12px;
  font-weight:700;
}
/* 진행 바의 배경 */
.progress-bar1 {
  width:200px;
  height:1px;
  background-color: #B9B9B9;
  margin:24px;
}
.sub-btn-right{
  margin:14px;
}
/* 진행 상태를 보여줄 막대 */
.progress1 {
  height: 100%;
  width: 0%;
  background-color: #000000;
  transition: width 0s;
}
.silder-imgbox {
  position: relative;
  overflow: hidden;
  width:905px;
  height:512px;
}
.silder-imgbox img {
  width: 100%;
  height: auto;
}

/* best-list */
.best{
  width:100%;
  margin-left:35px;
  margin-top:225px;
}
.best-container{
  width:1440px;
  margin:auto;
}
.best-item-men li{
  display:none;
}
.best-item li, .best-item-men li{
  position:relative;
  float:left;
  margin-left:23px;
  margin-top:36px;
}
.best-item li img, .best-item-men li img{
  width:326px;
  height:406px;
}
.best-item li:nth-child(1),
.best-item-men li:nth-child(1){
  margin-left:0;
}
.best-header h2{
  font-size:48px;
  font-weight:500;
  margin-bottom:15px;
}
.best-menu a{
  font-size:15px;
  color:#000000;
  border-bottom:1px dotted;
  margin-left:32px;
}
.best-menu a:hover{
  color:#C61732;
  border-bottom:1px solid #C61732;
}
.best-menu a:nth-child(1){
  margin-left:0;
}
.best-txt{
  margin-top:7px;
}
.best-txt p{
  font-size:14px;
  color:#000000;
  padding:3px 0;
}
.best-price{
  font-size:14px;
  font-weight:700;
  margin-top:12px;
}
.best-item li::after {
  content: '';
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #000000;
  top: 0;
  left: 0;
  border-radius: 0 0 10px 0;
}
.best-item-men li::after {
  content: '';
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #000000;
  top: 0;
  left: 0;
  border-radius: 0 0 10px 0;
}

.best-item li::after {
  content: attr(data-rank);
  position: absolute;
  color: #ffffff;
  top: 0;
  left: 0;
  font-size: 25px;
  line-height: 45px;
  text-align: center;
}
.best-item-men li::after {
  content: attr(data-rank);
  position: absolute;
  color: #ffffff;
  top: 0;
  left: 0;
  font-size: 25px;
  line-height: 45px;
  text-align: center;
}

/* new-collection */
.new-collection{
  background-image:url(../img/sub1/bg_mv1.png);
  width:100%;
  height:419px;
  background-position: center;
  background-size: cover;
  margin-top:250px;
}
.new-txt-box{
  width:1440px;
  margin:auto;
  padding-top: 160px;
}
.new-txt{
  margin-left:35px;
  float: left;
}
.new-item li img{
  width:326px;
  height:406px;
}
.new-txt p{
  font-size:27px;
  font-weight:500;
  color:#ffffff;
}
.btn-b{
  display: inline-block;
  padding: 7px 4px 5px 10px;
  background-color: #000000;
  color:#ffffff;
  font-weight:500;
  border-radius:5px;
  line-height: 1.5vw;
  margin-top:13px;
}
.btn-b:hover{
  background-color:#ffffff;
  color:#000000;
  transition-duration: 0.7s;
}
.arrow1{
  vertical-align: middle;
  margin-bottom: 3px;
  padding:10px;
}
.btn-b:hover .arrow1{
  content:url(../img/icon/arrow-right_b.png);
}
.new--txt{
  font-size:17px;
  font-weight:500;
  color:#ffffff;
  float: left;
  margin-left:50px;
  position: relative;
}
.new--txt::after{
  content:"";
  width:1px;
  height:100%;
  position: absolute;
  background-color: #ffffff; 
  top:0;
  left: -50px;
  margin:0 24px;
}


/* new-in */
.new-in{
  width:100%;
  margin-left:35px;
  margin-top:225px;
}
.newin-container{
  width:1440px;
  margin:auto;
}
.new-header h2{
  font-size:27px;
  font-weight:500;
  margin-bottom: 27px;
}
.new-item li{
  position:relative;
  float:left;
  margin-left:23px;
  margin-top:36px;
}
.new-item li:nth-child(1){
  margin-left:0;
}
.newin-txt{
  font-size:14px;
  color:#000000;
  margin-top:7px;
}
.newin-txt p{
  padding-top:3px;
}
.newin-discount{
  color:#F7624A;
  font-weight:500;
}
.newin--price{
  font-weight:700;
}
.newin-price{
  font-weight:500;
  color:#8F8F8F;
}
.newin-txt span{
  margin-left:13px;
}
.newin-txt .newin-discount {
  margin-left: 0;
}
.newin-span{
  margin-top:15px;
}

/* play-boots */
.boots-bg{
  width:100%;
  height:861px;
  background-image:url(../img/sub1/boots.png);
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  margin-top:230px;
  margin-bottom:90px;
}
.play-txt{
  width:1440px;
  margin:auto;
  text-align: center;
  margin-bottom:90px;
}
.play-btn{
  display: inline-block;
  padding: 10px 10px;
  background-color: #000000;
  color:#ffffff;
  border: 1px solid transparent;
  font-weight:500;
  border-radius:20px;
  line-height: 1.5vw;
  margin-top:30px;
}
.play-btn:hover{
  border:1px solid #000000;
  background-color:#ffffff;
  color:#000000;
  transition-duration: 0.7s;
}
.play-name{
  font-size:27px;
  font-weight:300;
  margin-bottom:20px;
}
.play-content{
  font-size:27px;
  font-weight:700;
  margin-bottom:2px;
}
.play--content{
  font-size:17px;
}


.미디어쿼리{}
/* min-width:740px */
@media only screen and (max-width: 740px) {
.sub-content, .play-txt, .new-txt-box, .best-container, .sub-content, .newin-container{
  width:100%;
}
.slider-txt h2{
  font-size:25;
}
.slider-txt p{
  font-size:15px;
}
.sub-content{
  text-align: center;
  flex-direction: column-reverse;
  align-items: center;
}
.sub-txt {
  margin-left:0;
}
.sub-tex{
  font-size:13px;
}
.btn-w {
  padding: 2px 0px 0px 8px;
  font-size:14px;
}
.btn-w, .slider-indicator, .sub-name {
  margin-top: 30px;
}
.slider-indicator {
  justify-content: center;
}
.best-header h2 {
  font-size:6.486vw;
}
.best-item li, .best-item-men li, .best-item li img, .best-item-men li img, .new-item li, .new-item li img{
  width: 40vw;
  height: auto;
}
.best-item li:nth-child(3), .best-item-men li:nth-child(3){
  margin-left:0;
}
.best-item li::after, .best-item-men li::after  {
  font-size: 15px;
  line-height: 30px;
}
.best-item li::after, .best-item-men li::after {
  width: 30px;
  height: 30px;
}
.new-item li:nth-child(3) {
  margin-left: 0;
}
.newin-txt span {
  margin-left:5px;
}
.boots-bg {
  height: 70vw;
  margin-bottom:12.162vw;
}
.play-name, .play-content {
  font-size:3.649vw;
}
.play--content {
  font-size:2.297vw;
}
.play-btn{
  font-size:2.162vw;
}
.new-txt p{
  font-size:3.243vw;
}
.new-txt {
  float:none;
}
.new--txt {
  font-size:2.297vw;
  margin-left:35px;
  margin-top: 20px;
}
.btn-b {
  padding: 0 0 0 8px;
}
.new--txt::after{
  content: none;
}
}