/* main-slider */
.main-slider {
  width: 100%;
  position: relative;
}
.slider-content {
  width:100%;
  white-space: nowrap;
  transition: transform 0.5s ease-in-out;
}
.slider-content li {
  display: inline-block;
  margin-right:20px;
}
.slider-content img {
  width: 100%;
  vertical-align: middle;
}
.btn-left, .btn-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.btn-left {
  margin-left:30px;
  left: 0;
}
.btn-right {
  margin-right:30px;
  right: 0;
}
.slider-txt{
  color: #ffffff;
  margin-top: 600px;
  margin-left: 35px;
}
.slider-txt h2{
  font-size:27px;
  margin-bottom:20px;
  font-weight:800;
}
.slider-txt p{
  font-size:17px;
  font-weight:500;
}
.slider1{
  background-image: url('../img/sub1/main_slider1.png');
  width:590px;
  height:800px;
}
.slider2{
  background-image: url('../img/sub1/main_slider2.png');
  width:590px;
  height:800px;
}
.slider3{
  background-image: url('../img/sub1/main_slider3.png');
  width:590px;
  height:800px;
}
.slider4{
  background-image: url('../img/sub1/main_slider4.png');
  width:590px;
  height:800px;
}



/* sub-slider */
.sub-slider{
  width:100%;
}
.sub-content{
  width:1440px;
  margin:auto;
  margin-top: 260px;
  display:flex;
  justify-content: space-between;
}
.slider-indicator{
  display: flex;
  align-items: center;
}
.sub-name{
  font-size:27px;
  font-weight:500;
  margin-bottom:3px;
}
.sub-txt{
  margin-left:35px;
}
.sub-txt h2{
  font-family:'Cormorant Garamond';
  font-size:56px;
  font-weight:800;
  margin-bottom:20px;
}
.sub-tex{
  font-size:16px;
  font-weight:300;
}
.btn-w{
  display: inline-block;
  padding: 7px 4px 5px 10px;
  border:1px solid #000000;
  color:#000000;
  font-weight:500;
  border-radius:5px;
  line-height: 1.5vw;
  margin-top:90px;
}
.btn-w:hover{
  background-color:#000000;
  color:#ffffff;
  transition-duration: 0.7s;
}
.arrow1{
  vertical-align: middle;
  margin-bottom: 3px;
  padding:10px;
}
.btn-w:hover .arrow1{
  content:url(../img/icon/arrow-right_ww.png);
}
.slider-indicator{
  margin-top:90px;
}
.slider-indicator span{
  font-size:12px;
  font-weight:700;
}
/* 진행 바의 배경 */
.progress-bar1 {
  width:200px;
  height:1px;
  background-color: #B9B9B9;
  margin:24px;
}
.sub-btn-right{
  margin:14px;
}
/* 진행 상태를 보여줄 막대 */
.progress1 {
  height: 100%;
  width: 0%;
  background-color: #000000;
  transition: width 0s;
}
.silder-imgbox {
  position: relative;
  overflow: hidden;
  width:905px;
  height:512px;
}


/* best-list */
.best{
  width:100%;
  margin-left:35px;
  margin-top:225px;
}
.best-container{
  width:1440px;
  margin:auto;
}
.best-item li{
  position:relative;
  float:left;
  margin-left:23px;
  margin-top:36px;
}
.best-item li img{
  width:326px;
  height:406px;
}
.best-item li:nth-child(1){
  margin-left:0;
}
.best-header h2{
  font-size:48px;
  font-weight:500;
  margin-bottom:15px;
}
.best-manu a{
  font-size:15px;
  color:#000000;
  border-bottom:1px dotted;
  margin-left:32px;
}
.best-manu a:hover{
  color:#C61732;
  border-bottom:1px solid #C61732;
}
.best-manu a:nth-child(1){
  margin-left:0;
}
.best-txt{
  margin-top:7px;
}
.best-txt p{
  font-size:14px;
  color:#000000;
  padding:3px 0;
}
.best-price{
  font-size:14px;
  font-weight:700;
  margin-top:12px;
}
.best-item li::after {
  content: '';
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #000000;
  top: 0;
  left: 0;
  border-radius: 0 0 10px 0;
}
.best-item li::after {
  content: attr(data-rank);
  position: absolute;
  color: #ffffff;
  top: 0;
  left: 0;
  font-size: 25px;
  line-height: 45px;
  text-align: center;
}


/* new-collection */
.new-collection{
  background-image:url(../img/sub1/bg_mv1.png);
  width:100%;
  height:419px;
  background-position: center;
  background-size: cover;
  margin-top:250px;
}
.new-txt-box{
  width:1440px;
  margin:auto;
  padding-top: 160px;
}
.new-txt{
  margin-left:35px;
  float: left;
}
.new-item li img{
  width:326px;
  height:406px;
}
.new-txt p{
  font-size:27px;
  font-weight:500;
  color:#ffffff;
}
.btn-b{
  display: inline-block;
  padding: 7px 4px 5px 10px;
  background-color: #000000;
  color:#ffffff;
  font-weight:500;
  border-radius:5px;
  line-height: 1.5vw;
  margin-top:13px;
}
.btn-b:hover{
  background-color:#ffffff;
  color:#000000;
  transition-duration: 0.7s;
}
.arrow1{
  vertical-align: middle;
  margin-bottom: 3px;
  padding:10px;
}
.btn-b:hover .arrow1{
  content:url(../img/icon/arrow-right_b.png);
}
.new--txt{
  font-size:17px;
  font-weight:500;
  color:#ffffff;
  float: left;
  margin-left:50px;
  position: relative;
}
.new--txt::after{
  content:"";
  width:1px;
  height:100%;
  position: absolute;
  background-color: #ffffff; 
  top:0;
  left: -50px;
  margin:0 24px;
}


/* new-in */
.new-in{
  width:100%;
  margin-left:35px;
  margin-top:225px;
}
.newin-container{
  width:1440px;
  margin:auto;
}
.new-header h2{
  font-size:27px;
  font-weight:500;
  margin-bottom: 27px;
}
.new-item li{
  position:relative;
  float:left;
  margin-left:23px;
  margin-top:36px;
}
.new-item li:nth-child(1){
  margin-left:0;
}
.newin-txt{
  font-size:14px;
  color:#000000;
  margin-top:7px;
}
.newin-txt p{
  padding-top:3px;
}
.newin-discount{
  color:#F7624A;
  font-weight:500;
}
.newin--price{
  font-weight:700;
}
.newin-price{
  font-weight:500;
  color:#8F8F8F;
}
.newin-txt span{
  margin-left:13px;
}
.newin-txt .newin-discount {
  margin-left: 0;
}
.newin-span{
  margin-top:15px;
}

/* play-boots */
.boots-bg{
  width:100%;
  height:861px;
  background-image:url(../img/sub1/boots.png);
  background-size: cover;
  background-repeat:no-repeat;
  margin-top:230px;
  margin-bottom:90px;
}
.play-txt{
  width:1440px;
  margin:auto;
  text-align: center;
  margin-bottom:90px;
}
.play-btn{
  display: inline-block;
  padding: 10px 10px;
  background-color: #000000;
  color:#ffffff;
  border: 1px solid transparent;
  font-weight:500;
  border-radius:20px;
  line-height: 1.5vw;
  margin-top:30px;
}
.play-btn:hover{
  border:1px solid #000000;
  background-color:#ffffff;
  color:#000000;
  transition-duration: 0.7s;
}
.play-name{
  font-size:27px;
  font-weight:300;
  margin-bottom:20px;
}
.play-content{
  font-size:27px;
  font-weight:700;
  margin-bottom:2px;
}
.play--content{
  font-size:17px;
}
