/* accessories */
.accessories{
  width:100%;
  margin: 0 35px;
}
.acc-container{
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
.acc-item li, .acc-item-men li{
  width:335px;
  height: 500px;
  margin: 20px 10px;
  display: inline-block;
  vertical-align: top;
}
.acc-item-men li{
  display:none;
}
.acc-item li img, .acc-item-men li img{
  width:335px;
  height:418px;
}
.acc-header h2{
  font-size:56px;
  font-weight:700;
  margin:70px 0;
  text-align: center;
}
.acc-menu{
  margin-left:10px;
}
.acc-menu a{
  font-size:15px;
  color:#000000;
  font-weight:600;
  border-bottom:1px dotted;
  margin-left:25px;
}
.acc-menu a:hover{
  color:#C61732;
  border-bottom:1px solid #C61732;
}
.acc-menu a:nth-child(1){
  margin-left:0;
}
.acct-txt{
  margin-top:7px;
}
.acc-txt p{
  font-size:14px;
  color:#000000;
  padding:3px 0;
}
.acc-price{
  margin-top:12px;
  font-weight:700;
}
.last-btn{
  width:1370px;
  height:42px;
  border:1px solid #000000;
  border-radius: 5px;
  margin: 50px 0 80px 0;
  text-align: center;
}
.last-btn:hover{
  border:1px solid #000000;
  background-color: #000000;
  transition-duration: 0.7s;
}
.last-btn a{
  display:block;
  font-weight:700;
  color:#000000;
  padding: 11px 0;
}
.last-btn a:hover{
  color:#ffffff;
}

.미디어쿼리{}
/* min-width:740px */
@media only screen and (max-width: 740px) {
.acc-container {
  width: 100%;
}
.acc-header h2 {
  font-size:7.568vw;
}
.acc-item li, .acc-item-men li {
  width: 40vw;
  height: auto;
}
.acc-item li img, .acc-item-men li img {
  width: 40vw;
  height: auto;
}
.acc-txt{
  height: 95px;
}
.acc-item li:nth-child(2n+1), .acc-item-men li:nth-child(2n+1) {
  margin-left: 0;
}
.last-btn {
  width: 90%;
  height: auto;
}
}