/* header */
.header{
  border-bottom:1px solid #F8F8F8;
}
/* main */
.main{
  width:100%;
  margin-left:35px;
  margin-top:16px;
}
.main-content{
  display: flex;
  height:868px;
}
.main-container{
  width:1440px;
  margin:auto;
}
.main-left li img{
  width:102px;
  height:128px;
  border-radius: 3px;
}
.main-left li{
  width:102px;
  height:128px;
}
.main-left li{
  margin-bottom:12px;
}
.main-left li:nth-child(6){
  margin-bottom:0;
}
.main {
  width: 100%;
  margin-left: 35px;
}
.main-container {
  width: 1440px;
  margin: auto;
}
.main-left ul{
  float:left;
}
.main-center{
  width:673px;
  height:841px;
  margin-left:15px;
  margin-right:53px;
}
.main-center img{
  width:673px;
  height:841px;
}
.main-original{
  font-size:18px;
  font-weight:500;
  color:#8F8F8F;
  margin-bottom:21px;
}

.main-right{
  height:1160px;
}
.main-right-header h2{
  font-size:24px;
  font-weight:600;
  line-height: 30px;
  margin-bottom:8px;
}
.main-right-txt1{
  font-weight:500;
  color:#8F8F8F;
}
.main-right-txt2{
  font-size:24px;
  font-weight:600;
  color:#202020 !important;
  padding: 32px 0 24px;
  border-bottom:1px solid #353535;
}

.main-right-bottom{
  font-size:14px;
  margin-top:20px;
  display:flex;
}
.bottom1{
  margin-left:64px;
  color:#8F8F8F;
}
.bottom2{
  margin-left:75px;
  color:#8F8F8F;
}
.right-icon{
  margin:20px 0;
}


/* size */
.size{
  height:135px;
  border-top:1px solid #EBEBEB;
  border-bottom:1px solid #EBEBEB;
}
.size-header {
  float:left;
  margin-right:83px;
}
.size-header p {
  font-size: 14px;
  padding: 58px 0;
}
.size ul {
  float: left;
  width: 350px;
  padding:24px 0;
}
.size-left li{
  float:left;
  width:78px;
  height:33px;
  border:1px solid #EBEBEB;
  margin-right:4px;
  margin-bottom:4px;
}
.size-left li:hover a{
  background-color: #202020;
  color:#F8F8F8;
  transition-duration: 0.7s;
}
.size-left li:nth-child(5),
.size-left li:nth-child(6),
.size-left li:nth-child(7),
.size-left li:nth-child(8) {
  margin-bottom: 0;
}
.size-left a{
  color:#202020;
  font-size:13px;
  font-weight:300;
  display: inline-block;
  padding: 8px 27px;
}
.essential{
  clear: both;
  font-size:12px;
  color:#8F8F8F;
  padding-top:4px;
}


/* color */
.color{
  height:290px;
}
.color-header{
  float:left;
  margin-right:70px;
  height:288px;
}
.color-header p{
  font-size:14px;
  color:#202020;
  padding: 136px 0;
}
.color-img{
  width:300px;
  float:left;
  padding:60px 0;
}
.color-img li{
  float:left;
  width:68px;
  height:82px;
  margin-right:4px;
  margin-bottom:4px;
}
.color-img li:nth-child(5),
.color-img li:nth-child(6) {
  margin-bottom: 0;
}

/* detail-size */
.detail-size{
  width:454px;
}
.detail{
  border-top:1px solid #202020;
  border-bottom:1px solid #202020;
}
.size-guide{
  border-bottom:1px solid #202020;
}
.detail-left{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.detail-left p{
  padding:16px 0;
  font-size:14px;
  font-weight:500;
  color:#202020;
  margin-left:5px;
}
.detail-left img{
  width:6px;
  height:10px; 
  margin-right:16px;
  transform: rotate(90deg);
}


/* find */
.red-tool{
  width: 454px;
  display:flex;
  line-height: 38px;
  margin: 108px 0 32px;
  text-align: center;
  border: 1px solid #E9E9E9;;
  border-radius: 50px;
  background-color: #F8F8F8;
}

.red-btn{
  width:178px;
  height:38px;
  background-color:#ea0a2a;
  color: white;
  border-radius: 50px;
}
.tool{
  margin: auto;
}
.tool a {
  font-size:14px;
  font-weight:300;
  color:#353535;
}


/* 상품구매 */
.amount{
  width:454px;
}
.amount1{
  display:flex;
  align-items: center;
  font-size:14px;
  color:#202020;
}
.amount1 p{
  margin-right: 350px;
}
.big-span{
  margin-right:3px;
  font-size:24px;
  font-weight:300;
}


/* 구매버튼 */
.purchase{
  width:454px;
  margin-top:43px;
  display: flex;
  justify-content: space-between;
}
.pur-btn1 a{
  display:block;
  width:214px;
  height:56px;
  background-color: #202020;
  border-radius:10px;
  color:#ffffff;
  line-height: 58px;
  text-align: center;
  font-size:15px;
  font-weight:600;
}
.pur-btn2 a{
  display:block;
  width:119px;
  height:56px;
  border:1px solid #8f8f8f;
  border-radius:10px;
  font-size:15px;
  color:#202020;
  text-align: center;
  line-height: 58px;
}
.pur-btn3{
  width: 102px;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border:1px solid #8f8f8f;
  border-radius:10px;
  position: relative;
}
.btn1::after{
  content:"";
  position:absolute;
  width:1px;
  height:12px;
  top: 35%;
  left: 50%;
  background-color:#8f8f8f;;
}


/* review */
.review{
  width:791px;
  height:291px;
  margin-top: 15px;
}
.rev{
  border-top:1px solid #d9d9d9;
  border-bottom:1px solid #d9d9d9;
}
.rev li{
  float:left;
  margin-left:40px;
  padding:30px 0;
}
.rev li:nth-child(1){
  margin-left:0;
}
.rev li img{
  width:237px;
  height:232px;
}



.new-rleases{
  width:100%;
  margin-top:112px;
  margin-left:35px;
}
.new-container{
  width:1440px;
  margin:auto;
}
.header-txt h2{
  font-size:24px;
  font-weight:500;
}
.new-item li{
  position:relative;
  float:left;
  margin-left:11px;
  margin-top:20px;
}
.new-item li img{
  width:334px;
  height:418px;
}
.new-item li:nth-child(1){
  margin-left:0;
}
.txt{
  font-size:14px;
  color:#202020;
}
.series{
  margin-top:8px;
  margin-bottom:3px;
}
.price{
  font-size:14px;
  font-weight:700;
  margin-top:15px;
}



.recommendation{
  width:100%;
  margin: 112px 0 90px 35px;
}
.rec-container{
  width:1440px;
  margin:auto;
}
.rec-item li{
  position:relative;
  float:left;
  margin-left:11px;
  margin-top:20px;
}
.rec-item li img{
  width:334px;
  height:418px;
}
.rec-item li:nth-child(1){
  margin-left:0;
}
.view-all {
  float: right;
  margin-right: 60px;
}
.view-all a{
  font-size:14px;
  font-weight:700;
  color:#000000;
  margin-right:10px;
}
.view-dot:hover{
  border-bottom: 1px dotted;
}
.best-arrow{
  width:14px;
  height:14px;
  display: inline-block;
  vertical-align: middle;
}